@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}



:root 
{
  --clr-primary: #21272f;
  --clr-light: #00bd95;
  --clr-light-dark: #175850;
  --clr-dark: #171C23;
  --white: #f4f4f4;


  --regular : 400;
  --bold: 700;
  --font-title: 2rem;
  --transition: ease .3s;
  --border-radius: 8px;
}

html 
{
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body 
{
  background-color: var(--white);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

ul 
{
  padding: 0;
}


.container 
{
  width: 95%;
  max-width: 1200px;
  margin:  0 auto;
  padding: 70px 0;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  gap:  20px;
}

.small-text 
{
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: var(--regular);
}

/****** terminan estilos generales ******/



.hero 
{
  padding: 0;
  flex-direction: column;
  padding: 50px 0 0 0;
  position: relative;
  color: var(--white)
}

.hero__picture 
{
  background: url('../images/hero-man.png') no-repeat center/contain;
  height: 300px;
  width: max(40%,300px);
}


.hero::before 
{
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  top:0; left:0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.hero::after 
{
  content: "";
  position: absolute;
  background-color: var(--clr-light);
  bottom:0; right:0;
  width: 100%;
  height: 50%;
  z-index: -1;
}


.hero__description 
{
  width:100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  margin: 70px 0;
}

.hero__title 
{
  font-size: var(--font-title);
  color: var(--clr-light);
}
/* &TERMINA HERO */


.navbar 
{
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top:0; left: 50%;
  transform: translate(-50%,0);
  z-index: 99;
  padding: 0 20px;
  background:  none;
}

.navbar__logo
{
  font-size: 1.6rem;
  font-weight: bold;
  min-width: 100px;
}

.navbar__logo:hover 
{
  cursor: pointer;
  animation: zoom ease 800ms infinite;
}

@keyframes zoom {
  0%{
    transform: scale(.9)
  }
  50%{
    transform: scale(1.1)
  }
  100%{
    transform: scale(.9)
  }
}


.navbar__menu 
{
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: var(--clr-dark);
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
  transition: var(--transition);
}


.showMenu 
{
  height: 250px;
  transition: var(--transition);
}

.navbar__menu > a 
{
  color: var(--white);
  margin: 0 5px;
  font-weight: var(--bold);
  text-transform: uppercase;
  position: relative;
  display: block;
}

.navbar__menu > a::before
{
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--clr-primary);
  bottom: -10px;
  transition: var(--transition);
}

.navbar__menu > a:hover::before
{
  width: 100%;
  transition: var(--transition);
}




.toggle
{
  background-color: var(--clr-light-dark);
  border: none;
  color: var(--white);
  padding: 5px;
  font-size: 20px;
}


.toggle:hover 
{
  transform: rotate(90deg);
  transition: var(--transition);
}

/* color desde js */
.navBg{
  transition: background-color var(--transition);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


@media (min-width: 600px){
  .hero
  {
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
  }

  .hero::before 
  {
    top:0; left:0;
    width: 50%;
    height: 100%;
  }
  .hero::after 
  {
    TOP:0; right:0;
    width: 50%;
    height: 100%;
  }

  
  .hero__title 
  {
    font-size: 4rem;
  }

  .hero__picture 
  {
    height: 400px;
  }

  .toggle 
  {
    display: none;
  }

  .navbar__menu
  {
    position: unset;
    height: 100%;
    flex-direction: row;
    background: none;
    justify-content: flex-end;
  }

  .navbar__menu > a:hover 
  {
  color: var(--clr-primary);
  }

}

/***** SERVICES *****/
.services{
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-dark);
}

.services__title h2{
  font-weight: var(--bold);
  color: var(--clr-light);
  font-size: 2rem;
}

.services__cards{
  width: 90%;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  grid-auto-rows: max-content;
  gap: 2rem;
}


.services__card{
  width: 100%;
  height: 250px;
  display: grid;
  place-content: center;
  margin: 0 auto;
  background-color: var(--clr-primary);
  color: var(--black);
  border-radius: var(--border-radius);
  padding: 20px;
}


.card__icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__info{
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 20px;
  font-weight: var(--regular);
}

@media (min-width: 768px){
  .services__card:hover{
    outline: 2px solid var(--white);
    transition: var(--transition);
  }
}
/*? comentarios */
.comentarios{
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-primary);
}

.comentarios__title{
  font-size: var(--font-title);
  font-weight: var(--bold);
  color: var(--clr-light);
}

.swiper{
  padding: 0 10px;
  width: 90%;
  height: 400px;  
}

.swiper-slide{
  color: var(--white);
  background-color: var(--clr-dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper__stars{
  position: absolute;
  top: 30px;left:50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active{
  background-color: var(--violet);
}

.user__photo{
  --size: 70px;
  width: var(--size);
  height: var(--size);
  background-color: red;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.swiper-slide h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.swiper-slide > p{
  line-height: 1.5;
  margin-top: 50px;
  font-size: 14px;
}

.swiper__user p{
  font-size: 14px;
  letter-spacing: 2px;
}