@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



:root{
  --white : hsl(0, 0%, 96%);
  --gris: rgb(152, 152, 152);
  --blue: hsl(242, 51%, 52%);
  --negro: hsl(0, 0%, 13%);

  --border-radius: 2px;
  --regular: 400;
  --bold:  700;
  --font-size: clamp(2rem,5vw,2.3rem);
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  color: var(--white);
  background-color: var(--negro);
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 95%;
  max-width:  1200px;
  margin: 0 auto;
}

.btn{
  display: block;
  min-width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--negro);
  background-color: var(--white);
  border-radius: var(--border-radius);
  font-size: 17px;
  font-weight: var(--bold);
  letter-spacing: 3px;
  cursor: pointer;
  transition: ease .3s;
}

.btn:hover{
  transform: scale(.98);
  transition: ease .3s;
}


/***** hero *****/

.hero{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,max-content);
}

.hero__picture,
.hero__texto,
.nav{
  width: 100%;
}

.hero__picture,
.hero__texto{
  height: 450px;
}


.hero__picture{
  position: relative;
}

.hero__picture:before{
  content: "";
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--blue),var(--white));
  opacity: 30%;
}

.hero__picture > img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}


.nav{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
  padding-left: 20px;
}

.hero__texto{
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  
  grid-column: 1/-1;
  grid-row: 1/3;
}

.hero__picture{
  grid-column: 1/-1;
  grid-row: 3/4;
}

.nav__logo{
  font-size: 20px;
  font-weight: var(--bold);
  color: var(--white);
  letter-spacing: 3px;
}


.nav__social{
  background-color: var(--blue);
  height: 100%;
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-auto-flow: column;
  gap:10px;
}


.nav__social  a .iconify{
  color: var(--white);
}


.small-text{
  font-size: 17px;
  font-weight: var(--regular);
}

.hero__title{
  font-size: 30px;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.hero__p{
  font-size: 14px;
  margin: 0 15px;
  max-width: 500px;
}

@media screen and (min-width: 768px){

  .hero{
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2,max-content);
  }

  .hero__picture,
  .hero__texto{
    height: 550px;
  }

  .hero__texto{
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .hero__picture{
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
   
  .nav__social{
    width: 15%;
  }
  
}

/*****  about *****/

.about{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,500px);
}

.about__picture > img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content{
  display:  flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
  height: 500px;
}

.about__picture{
  height: 500px;
  background-color: var(--blue);
}

.about__content .small-text{
  font-size: 18px;
}

.about__content h2{
  font-size: var(--font-size);
}


.about__content .small-text,
.about__content h2{
  color: var(--blue);
}

.about__content h2,
.about__content p{
  margin-bottom: 30px;
}

.about__content p{
  font-size: 14px;
  line-height: 24px;
}


@media (min-width: 768px){

  .about{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: max-content;
  }

  .about__content p{
    margin-right: 70px;
  }

  .about__picture{
    position: relative;
  }

  .about__picture img {
    position: absolute;
    width: 456px;
    height: 360px;
    left:  -50px;
    top:  50%;
    transform: translateY(-50%);
  }
}